
<div class="col s8 offset-s2">
<form #identification="ngForm" class="col s12 white">

  <div class="row">
    <div class="input-field col s6">
      <input type="text" #Courriel ngModel name="Courriel" placeholder="Courriel" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input type="password" #MotDePasse ngModel name="MotDePasse" placeholder="Mot de passe" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!identification.valid" class="btn-large btn-submit" type="submit">S'identifier</button>
    </div>
  </div>
</form>
</div>
