<div class="overview-item overview-item--c3 alignCenter">
  <div class="overview__inner">
    <div class="overview-box clearfix">
      <div class="icon">
          
          <h1 class="text-white"  ><i class="icon-task fas fa-tasks"></i> Instructions pour l'insertion des publicités</h1>
    </div>
    </div>
  </div>
</div>

<p>Il y a deux façons d'ajouter l'analytique à votre site web: via notre script ou notre API.</p>
<div class="mb-4">
<h2>Script</h2>
</div>

<div class="mb-4"><h3>Affichage des publicités</h3></div>

<div class="mb-4">
  <h4> Mettre ce script dans votre balise <code data-claire-semantic="html" >&lt;head&gt;</code></h4>
  <p>
    <code>
        (function(c,a,s,h)&#x7b;_var=s;_dom=c;_tok=h;document.write('&lt;script src="'+c+'/'+a+'"&gt;&lt;\/script&gt;');&#x7d;)('https://e18-analytique-backend.herokuapp.com','analytique-gti525.js','gti','YOUR_TOKEN_HERE');
    </code>
  <br>
    Ce script crée une variable JS `gti`. Si ce nom ne vous convient pas, vous pouvez la renommer en définissant un nouveau nom de variable dans le script ci-haut (dernier paramètre passé à la fonction);
  </p>
</div>

<div class="mb-4">
  <h4> Créer des containers vides pour les publicités.</h4>

  <p>
     Ceux-ci doivent posséder un ID afin d'être référencées au chargement des publicités.<br>
    <code> 
      &#x3C;div id&#061;&#034;banniere&#045;1&#034;&#x3E;&#x3C;/div&#x3E;
    </code>
  </p>
</div>

<div class="mb-4">
  <h4> Créer des styles pour définir les dimensions du container.</h4>
  <p>
    Cette étape est optionnelle mais fortement recommandée pour éviter le déplacement des éléments de la page lorsque la bannière est chargée.<br>
    <code>
      
    /*&#032;&#032;CSS&#032;&#032;*/
    <br/>&#035;banniere&#045;1 &#123;
    <br/>&#032;&#032;&#032;  width: 728px;
    <br/>&#032;&#032;&#032;  height: 90px;<br/>
    &#125;

    </code>
  </p>
</div>

<div class="mb-4">
  <h4> Ajouter ce script juste avant la fermeture du <code data-claire-semantic="html">&lt;body&gt;</code></h4>
     <h5>*Ou dans une fonction prédéfinie</h5>

    <p>
      Exemple dans le <b><code>&#x3C;body&#x3E;</code></b><br>
    
      <code>
        &#x3C;script&#x3E;gti&#046;banniere(&#034;#banniere-1&#034;&#044; &#034;horizontal&#034;)&#059;&#x3C;/style&#x3E;
      </code>
    </p>
    <br>
    <p>
      Exemple dans <b><code>jQuery&#058;</code></b><br>
    
    <code>
    &#036;(function () &#123; <br/>
    gti&#046;banniere(&#034;&#035;banniere&#045;1&#034;, &#034;horizontal&#034;);<br/>
    &#125;);
    </code>
    
    <code>
        Syntaxe: gti&#046;banniere(selecteurCSS&#044;&#032;&#032;&#032;format)<br/>
    </code>
      <h5>Formats acceptés</h5>
      <ul>
        <li>horizontal&#058;&#032;&#032;728&#032;&#120;&#032;90</li>
        <li>vertical&#058;&#032;&#032;120&#032;&#120;&#032;600</li>
        <li>mobile&#058;&#032;&#032;320&#032;&#120;&#032;100</li>
      </ul>
  </div>

  <div class="mb-4">
    <h3>Envoi des infos de navigation</h3>
  <p>Pour envoyer les infos de navigation, ajoutez ce code de la même façon que pour la bannière:</p>
  <code>
    gti&#046;page(&#034;url&#034;);
  </code>
  <p>Remplacez "url" par l'URL de la page affichée.</p>
  </div>

  <p>Voyez vos statistiques ici: <a href="https://e18-analytique-frontend.herokuapp.com/index.html#/admin/statistiques">https://e18-analytique-frontend.herokuapp.com/index.html#/admin/statistiques</a></p>



