

  <h1 class="title-7"> Instructions pour afficher des publicités dans les sites web</h1>


 Cette operation se fait en plusieurs etapes:


  <ol>
    <li>Mettre ce script dans le head </li>
    <div>

    </div>


    <li>Créer des containers vides pour les publicités. Ceux-ci doivent posséder un ID afin d'être référencées au chargement des publicités.</li>
    <div>

    </div>


    <li>Créer des styles pour définir les dimensions du container en attendant que la bannière soit chargée. Cette étape est optionnelle mais fortement recommandée pour éviter le déplacement des éléments de la page lorsque la bannière est chargée.</li>
    <div>
    </div>

    <li>Ajouter ce script juste avant la fermeture du body`, ou dans toute fonction exécutée lorsque le DOM est prêt.</li>

    <div>
    </div>

  </ol>


