  <form [formGroup]="campagnePublicitaireForm" (ngSubmit)="OnSubmit()">
     <div class="form-group">
        <label for="nom">Nom de la Campagne:</label>
        <input class="form-control"  type="text" formControlName="nom">
      </div>

      <div class="form-group" >
        <label for="budget">Budget en Rupees:</label>
        <input class="form-control" type="number" formControlName="budget">
      </div>

      <div class="form-group">
        <label for="date_debut">Date de début:</label>
        <input class="form-control"  type="date" formControlName="date_debut">
      </div>

      <div class="form-group">
        <label for="date_fin">Date de fin:</label>
        <input class="form-control"  type="date" forControlName="date_fin">
      </div>

      <div class="form-group">
        <label for="active">État de la campagne: </label>
        <br>
        <input type="radio" name="CSS" value="true" id="activeTrue" forControlName="active"
              checked="checked" />
        <label for="active" class="inline">oui</label>
        <input type="radio" name="CSS" value="false" id="activeFalse" forControlName="active" />
        <label for="active" class="inline">non</label>
      </div>
    
    <button type="submit" class="btn btn-primary mybtn">Créer</button>
    <a routerLink="/admin/campagnes">
       <button class="btn btn-danger">Annuler</button>
     </a>
  </form>






