  <form [formGroup]="campagnePublicitaireForm" (ngSubmit)="OnSubmit()">
     <div class="form-group">
        <label for="nom">Nom de la Campagne:</label>
        <input class="form-control"  type="text" formControlName="nom">
      </div>

      <div class="form-group" >
        <label for="budget">Budget en Rupees:</label>
        <input class="form-control" type="number" formControlName="budget">
      </div>

      <div class="form-group">
        <label for="date_debut">Date de début:</label>
        <input class="form-control"  type="date" formControlName="date_debut">
      </div>

      <div class="form-group">
        <label for="date_fin">Date de fin:</label>
        <input class="form-control"  type="date" forControlName="date_fin">
      </div>

      <div class="form-group">
        <label for="active">État de la campagne: </label>
        <br>
        <input type="radio" name="CSS" value="true" id="activeTrue" forControlName="active"
              checked="checked" />
        <label for="active" class="inline">oui</label>
        <input type="radio" name="CSS" value="false" id="activeFalse" forControlName="active" />
        <label for="active" class="inline">non</label>
      </div>
    
      <!-- <div class="form-group">
        <label for="url">Liste des profils cibles </label>
        <div formArrayName="profilsCible">
          <div *ngFor="let profilCible of profilsCible.controls; let i=index" [formGroupName]="i">
            <div class="form-group">
              <div class="input-group">
                <input formControlName="url" class="form-control">
                <button type="button" (click)="retirerLigneUrl(i)" class="btn btn-danger input-group-append" tabindex="-1"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <button type="submit" class="btn btn-primary mybtn">Créer</button>
    <a routerLink="/admin/campagnes">
       <button class="btn btn-danger">Annuler</button>
     </a>
  </form>






