<div class="row" xmlns="">

      <form class="col s12 white" #enregistrement="ngForm" (ngSubmit)="OnSubmit(enregistrement)">
            <input class="form-control" placeholder="Nom d'utilisateur" type="text" name="NomUtilisateur"  #NomUtilisateur="ngModel" [(ngModel)]="administrateur.NomUtilisateur" required>
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Mot de passe" type="password" name="MotDePasse" #MotDePasse="ngModel" [(ngModel)]="administrateur.MotDePasse" required  minlength="3">
            <label [attr.data-error]="MotDePasse.errors!=null?(!MotDePasse.errors.required?'Minimum 3 charactères requis':'Champ requis!'):''"> </label>

            <input class="form-control" placeholder="Confirmation mot de passe" type="password" name="ConfirmationMotDePasse" #ConfirmationMotDePasse="ngModel" [(ngModel)]="administrateur.ConfirmationMotDePasse" required  minlength="3">
            <label [attr.data-error]="ConfirmationMotDePasse.errors!=null?(!ConfirmationMotDePasse.errors.required?'Minimum 3 charactères requis':'Champ requis!'):''"></label>

            <input class="form-control" placeholder="Courriel" type="text" name="Courriel" #Courriel="ngModel" [(ngModel)]="administrateur.Courriel" [pattern]="paternDuCourriel">
            <label data-error="Courriel invalide!"></label>

            <input class="form-control" placeholder="Prénom" type="text" name="Prenom" #Prenom="ngModel" [(ngModel)]="administrateur.Prenom">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Nom" type="text" name="Nom" #Nom="ngModel" [(ngModel)]="administrateur.Nom">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Adresse" type="text" name="Adress" #Adress="ngModel" [(ngModel)]="administrateur.Adress">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Ville" type="text" name="Ville" #Ville="ngModel" [(ngModel)]="administrateur.Ville">
            <label data-error="Champ requis!"></label>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">Administrateur site web</button>
            <button class="btn btn-outline-secondary" type="button">Administrateur publicité</button>
          </div>
          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>

        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="S'enregistrer">

      </form>
    </div>
