<div class="row" xmlns="">

      <form class="col s12 white" #enregistrement="ngForm" (ngSubmit)="OnSubmit(enregistrement)" >
            <input class="form-control" placeholder="Courriel" type="text" name="email" [(ngModel)]="administrateur.email" required>
            <label data-error="Champ requis!"></label>


            <input class="form-control" placeholder="Mot de passe" type="password" name="password"  #password="ngModel" [(ngModel)]="administrateur.password" required  minlength="3">
            <label [attr.data-error]="password.errors!=null?(!password.errors.required?'Minimum 3 charactères requis':'Champ requis!'):''"> </label>

            <input class="form-control" placeholder="Confirmation mot de passe" type="password" name="confirmationPassword"  #confirmationPassword ="ngModel"[(ngModel)]="administrateur.confirmationPassword" required  minlength="3">
            <label [attr.data-error]="confirmationPassword.errors!=null?(!confirmationPassword.errors.required?'Minimum 3 charactères requis':'Champ requis!'):''"></label>

            <input class="form-control" placeholder="Nom" type="text" name="nom" [(ngModel)]="administrateur.nom">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Ville" type="text" name="ville" [(ngModel)]="administrateur.ville">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Rue" type="text" name="rue" [(ngModel)]="administrateur.rue">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Numéro Civique" type="text" name="no_civique"  [(ngModel)]="administrateur.no_civique">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Code postal" type="text" name="code_postal"  [(ngModel)]="administrateur.code_postal">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="Numéro du compte bancaire" type="text" name="no_compte_bancaire" id="noCompte" hidden="true" [(ngModel)]="administrateur.no_compte_bancaire">
            <label data-error="Champ requis!"></label>

            <input class="form-control" placeholder="URL de votre site web" type="text" name="url"  id="urlSite" hidden="true" [(ngModel)]="administrateur.url">
            <label data-error="Champ requis!"></label>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input class="btn btn-outline-secondary form-control" type="radio" value="site" #type="ngModel" name="type" [(ngModel)]="administrateur.type" (click)="UpdateForm('site');" >Administrateur site web
            <input class="btn btn-outline-secondary form-control" type="radio" value="publicite" #type="ngModel" name="type"  [(ngModel)]="administrateur.type" (click)="UpdateForm('publicite');">Administrateur publicité
          </div>
        </div>

        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="S'enregistrer">

      </form>
    </div>
