<h2 class="title-1 m-b-25">Profils Cible</h2>

<p class="m-b-25"><a routerLink="/admin/profils-cible/create" class="btn btn-primary">Créer</a></p>

<ng-container *ngIf="profilsCible">
	<div *ngIf="(profilsCible.length > 0);else aucun_profil_cible" class="table-responsive table--no-card m-b-40">

		<table class="table table-borderless table-striped table-earning">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Sites web</th>
	        <th>Opérations</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let profilCible of profilsCible">
					<td>{{ profilCible.nom }}</td>
					<td>
						<ul>
							<li *ngFor="let siteWeb of profilCible.sites_web_profil_cible">{{ siteWeb.url }}</li>
						</ul>
					</td>
	        <td>
	            <div class="btn-group-vertical">
	              <a routerLink="/admin/profils-cible/{{ profilCible.id }}" id="modifier" class="btn btn-primary">Modifier</a>
	              <button type="button"  (click)="deleteProfilsCible(profilCible)" class="btn btn-danger">Supprimer</button>
	            </div>
	        </td>
				</tr>
			</tbody>
		</table>

	</div>

	<ng-template #aucun_profil_cible>
		Aucun profil cible
	</ng-template>

</ng-container>

<app-chargement [chargement]="!profilsCible"></app-chargement>
