<form (ngSubmit)="OnSubmit()">
	<div class="form-group">
		<label for="title">Nom du Profil </label>
		<input type="text" class="form-control" name="nom" required [(ngModel)]="profilCible.nom">
	</div>
	<div class="form-group">
      <label for="url">URL site Visité </label>
      <!--<input type="text" class="form-control" name="url"> -->
  </div>
  <form [formGroup]="ajout">
    <div formArrayName="ajoutLigne">
      <div *ngFor="let ligne of ajout.controls.ajoutLigne.controls; let i=index"  [formGroupName]="i">
        <div class="form-group">
          <input formControlName="url" class="form-control">
        </div>
      </div>
    </div>
  </form>
  <button type="button" (click)="AjouterLigneUrl()" class="btn btn-success">Ajouter</button>
	<button type="submit" class="btn btn-primary">Sauvegarder</button>
	<a routerLink="/admin/profils-cible">
		<button class="btn btn-danger">Annuler</button>
	</a>
</form>
