<form (ngSubmit)="OnSubmit()">
	<div class="form-group">
	  <label for="title">Nom du Profil </label>
	  <input type="text" class="form-control" name="nom" required [(ngModel)]="profilCible.nom">
	</div>

	<div class="form-group">
	  <label for="url">URL site Visité </label>
	  <input type="text" class="form-control">
	</div>
	<a routerLink="/admin/profils-cible">
	<button type="submit" class="btn btn-primary">Save</button>
	</a>
	<a routerLink="/admin/profils-cible">
	  <button class="btn btn-danger">Annuler</button>
	</a>
</form>