<!-- MAIN CONTENT-->
<div class="row">
  <div class="col-md-32">
    <div class="overview-wrap">
      <h2 class="title-1 m-b-25">Résumé</h2>
    </div>
  </div>
</div>

<div class="col-lg-1200">
  <div class="table-responsive table--no-card m-b-4">
    <table class="table table-borderless table-striped table-earning">
      <thead>
      <tr>
        <th>Date</th>
        <th>Profil cible</th>
        <th>Page</th>
        <th>Fureteur</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://cinemarex.com/page</td>
        <td>Chrome</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://gaveover.com/page</td>
        <td>Chrome</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://cinemarex.com/page</td>
        <td>Firefox</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://cinemarex.com/page</td>
        <td>Chrome</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://monsite.com/page</td>
        <td>Chrome</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://universitelaroche.com/page</td>
        <td>Firefox</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://cinemarex.com/page</td>
        <td>Chrome</td>
      </tr>
      <tr>
        <td>2018-09-29 05:57</td>
        <td><a href="site-tableau-bord-suivre.html">98cFk9m5sXp</a></td>
        <td>http://monsite.com/page</td>
        <td>Chrome</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
<div class="row">
  <div class="col-md-12">
    <div class="copyright">
      <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://google.com">Colorlib</a>.</p>
    </div>
  </div>
</div>



