<!-- <h2 class="title-1 m-b-25">Redevances</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h3 class="title-2">Solde courant</h3>
              <p style="font-size: 3em" *ngFor="let redevance of redevancesLive">{{redevance.montant}}</p>
                 <button class="btn btn-primary btn-lg" (click)="reclamerRedevances(redevances)">Réclamer</button>
            </div>
          </div>

          <ng-container *ngIf="redevances">
            <div *ngIf="(redevances.length > 0);else aucun" class="table-responsive table--no-card m-b-40">
              <h3 class="title-2 m-b-25">Historique de vos redevances</h3>
              <table class="table table-borderless table-striped table-earning">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Montant</th>
                  </tr>
                </thead>
              <tbody>
              <tr *ngFor="let redevance of redevances">
                <td>{{ redevance.date }}</td>
                <td>{{ redevance.montant }}</td>
              </tr>
              </tbody>
            </table>
          </div>

<ng-template *ngIf="aucun">
  Aucun historique
  <i class="fas fa-frown"></i>
</ng-template>

</ng-container>

<app-chargement [chargement]="!redevances"></app-chargement> -->

Work in Progress