      <div class="row">
        <div class="col-md-12">
          <div class="overview-wrap">
            <h2 class="title-1">Résumé</h2>
          </div>
        </div>
      </div>
      <div class="row m-t-25">
        <div class="col-sm-6 col-lg-4">
          <div class="overview-item overview-item--c1">
            <div class="overview__inner">
              <div class="overview-box clearfix">
                <div class="icon">
                  <i class="zmdi zmdi-account-o"></i>
                </div>
                <div class="text">
                  <h2>10368</h2>
                  <span>Nombre de visites</span>
                </div>
              </div>
              <div class="overview-chart">
                <canvas id="widgetChart1"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="overview-item overview-item--c3">
            <div class="overview__inner">
              <div class="overview-box clearfix">
                <div class="icon">
                  <i class="zmdi zmdi-calendar-note"></i>
                </div>
                <div class="text">
                  <h2>1,086</h2>
                  <span>Visites aujourd'hui</span>
                </div>
              </div>
              <div class="overview-chart">
                <canvas id="widgetChart3"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="overview-item overview-item--c4">
            <div class="overview__inner">
              <div class="overview-box clearfix">
                <div class="icon">
                  <i class="zmdi zmdi-money"></i>
                </div>
                <div class="text">
                  <h2>$1,060,386</h2>
                  <span>Profit des publicités</span>
                </div>
              </div>
              <div class="overview-chart">
                <canvas id="widgetChart4"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="au-card recent-report">
            <div class="au-card-inner">
              <h3 class="title-2">Rapports récents</h3>
              <div class="chart-info">
                <div class="chart-info__left">
                  <div class="chart-note">
                    <span class="dot dot--blue"></span>
                    <span>Visite des utilisateurs</span>
                  </div>
                </div>
                <div class="chart-info__right">
                  <div class="chart-statis">
                                                    <span class="index incre">
                                                        <i class="zmdi zmdi-long-arrow-up"></i>10%</span>
                    <span class="label">Utilisateur</span>
                  </div>
                </div>
              </div>
              <div class="recent-report__chart">
                <canvas id="team-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="au-card chart-percent-card">
            <div class="au-card-inner">
              <h3 class="title-2 tm-b-5">Fureteurs</h3>
              <div class="row no-gutters">
                <div class="col-xl-6">
                  <div class="chart-note-wrap">
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--blue"></span>
                      <span>Chrome</span>
                    </div>
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--red"></span>
                      <span>Firefox</span>
                    </div>
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--green"></span>
                      <span>Explorer</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="percent-chart">
                    <canvas id="percent-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <h2 class="title-1 m-b-25">Dernières visites</h2>
        <app-historique></app-historique>
      </div>
