  <form [formGroup]="campagnePublicitaireForm" (ngSubmit)="OnSubmit()">
     <div class="form-group">
        <label for="nom">Nom de la Campagne:</label>
        <input class="form-control"  type="text" formControlName="nom">
      </div>

      <div class="form-group" >
        <label for="budget">Budget en Rupees:</label>
        <input class="form-control" type="number" formControlName="budget">
      </div>

      <div class="form-group">
        <label for="date_debut">Date de début:</label>
        <input class="form-control"  type="date" formControlName="date_debut">
      </div>

      <div class="form-group">
        <label for="date_fin">Date de fin:</label>
        <input class="form-control"  type="date" formControlName="date_fin">
      </div>

      <div class="form-group">
        <label for="image_horizontale">Image horizontale (728 x 90):</label>
        <input data-index="0" name="image_horizontale" id="image_horizontale" type="file" (change)="fileChange($event)"  accept="image/*">
      </div>

      <div class="form-group">
        <label for="image_verticale">Image verticale (120 x 600):</label>
        <input data-index="1" name="image_verticale" id="image_verticale" type="file" (change)="fileChange($event)"  accept="image/*">
      </div>

      <div class="form-group">
        <label for="image_mobile">Image mobile (320 x 100):</label>
        <input data-index="2" name="image_mobile" id="image_mobile" type="file" (change)="fileChange($event)" accept="image/*" >
      </div>

      <div class="form-group">
        <label for="active">État de la campagne: </label>
        <br>
        <input type="radio" name="active" value="true" id="activeTrue" formControlName="active"
              checked="checked" />
        <label for="active" class="inline">oui</label>
        <input type="radio" name="active" value="false" id="activeFalse" formControlName="active" />
        <label for="active" class="inline">non</label>
      </div>

      <div class="form-group">
        <label for="url">Liste des profils cibles </label>
        <div formArrayName="profilsCible">
          <div *ngFor="let profilCible of profilsCible.controls; let i=index" [formGroupName]="i">
            <div class="form-group">
              <div class="input-group">
                <input formControlName="url" class="form-control">
                <button type="button" (click)="retirerLigneUrl(i)" class="btn btn-danger input-group-append" tabindex="-1"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <button type="submit" (click)="ajouterLigneProfil()" class="btn btn-success mybtn">Ajouter un profil cible</button>
    <button type="submit" class="btn btn-primary mybtn">Créer</button>
    <a routerLink="/admin/campagnes">
       <button class="btn btn-danger">Annuler</button>
     </a>
  </form>






